<form cForm #insuranceForm="ngForm" (ngSubmit)="add()">
    <small *ngIf="insuranceCompany.invalid && (insuranceCompany.dirty || insuranceCompany.touched)"
        class="form-text text-danger">
        Insurance Company is required
    </small>

    <select cFormControl cSelect class="mb-2" sizing="sm" id="insuranceCompany" name="insuranceCompany" 
        [ngClass]="{'is-invalid': insuranceCompany.invalid && (insuranceCompany.dirty || insuranceCompany.touched)}"
        [(ngModel)]="patientInsurance.insuranceCompany" #insuranceCompany="ngModel">
        <option [ngValue]="null" disabled selected>Select Insurance Company</option>
    </select>

    <small *ngIf="insuranceNumber.invalid && (insuranceNumber.dirty || insuranceNumber.touched)"
        class="form-text text-danger">
        Insurance Number is required
    </small>
    <c-input-group class="mb-3" sizing="sm">
        <input placeholder="Enter Insurance Number" cFormControl id="insuranceNumber" name="insuranceNumber" sizing="sm"
            required
            [ngClass]="{'is-invalid': insuranceNumber.invalid && (insuranceNumber.dirty || insuranceNumber.touched)}"
            #insuranceNumber="ngModel" [(ngModel)]="patientInsurance.insuranceNumber" />
    </c-input-group>

    <small *ngIf="groupNumber.invalid && (groupNumber.dirty || groupNumber.touched)" class="form-text text-danger">
        Group Number is required
    </small>
    <c-input-group class="mb-3" sizing="sm">
        <input placeholder="Enter Group Number" cFormControl id="groupNumber" name="groupNumber" sizing="sm" required
            [ngClass]="{'is-invalid': groupNumber.invalid && (groupNumber.dirty || groupNumber.touched)}"
            #groupNumber="ngModel" [(ngModel)]="patientInsurance.groupNumber" />
    </c-input-group>

    <small *ngIf="paymentType.invalid && (paymentType.dirty || paymentType.touched)" class="form-text text-danger">
        Phone Type Type is required
    </small>
    <c-input-group class="mb-3">
        <select cFormControl cSelect sizing="sm" id="paymentType" name="paymentType" required
            [ngClass]="{'is-invalid': paymentType.invalid && (paymentType.dirty || paymentType.touched)}"
            [(ngModel)]="patientInsurance.paymentType" #paymentType="ngModel">
            <option [ngValue]="null" disabled selected>Select Phone Type</option>
            <option *ngFor="let paymentType of PaymentTypes | keyvalue" [ngValue]="paymentType.key">
                {{paymentType.value}}
            </option>
        </select>
    </c-input-group>
    <small *ngIf="paymentValue.invalid && (paymentValue.dirty || paymentValue.touched)" class="form-text text-danger">
        Payment Value is required
    </small>
    <c-input-group class="mb-3" sizing="sm">
        <input placeholder="Enter Payment Value" cFormControl id="paymentValue" name="paymentValue" sizing="sm" required
            [ngClass]="{'is-invalid': paymentValue.invalid && (paymentValue.dirty || paymentValue.touched)}"
            #paymentValue="ngModel" [(ngModel)]="patientInsurance.paymentValue" />
    </c-input-group>

    <small *ngIf="totalDeductible.invalid && (totalDeductible.dirty || totalDeductible.touched)"
        class="form-text text-danger">
        Total Deductible is required
    </small>
    <c-input-group class="mb-3" sizing="sm">
        <input placeholder="Enter Total Deductible" cFormControl id="totalDeductible" name="totalDeductible" sizing="sm"
            required
            [ngClass]="{'is-invalid': totalDeductible.invalid && (totalDeductible.dirty || totalDeductible.touched)}"
            #totalDeductible="ngModel" [(ngModel)]="patientInsurance.totalDeductible" />
    </c-input-group>

    <small *ngIf="visitAllowed.invalid && (visitAllowed.dirty || visitAllowed.touched)" class="form-text text-danger">
        Visit Allowed is required
    </small>
    <c-input-group class="mb-3" sizing="sm">
        <input type="number" placeholder="Enter Visit Allowed" cFormControl id="visitAllowed" name="visitAllowed" sizing="sm"
            required [ngClass]="{'is-invalid': visitAllowed.invalid && (visitAllowed.dirty || visitAllowed.touched)}"
            #visitAllowed="ngModel" [(ngModel)]="patientInsurance.visitAllowed" />
    </c-input-group>

    <c-col xs="auto" class="mb-2">
        <c-date-picker cFormControl closeOnSelect size="sm" placeholder="Expiration Date" FormControl
            id="expirationDate_Date" name="expirationDate_Date" required
            [ngClass]="{'is-invalid': expirationDate.invalid && (expirationDate.dirty || expirationDate.touched)}"
            [(ngModel)]="patientInsurance.expirationDate_Date" #expirationDate="ngModel"></c-date-picker>
    </c-col>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" aria-describedby="emailHelp" cButton color="primary" variant="outline"
            (click)="add()">Add</button>
    </div>
</form>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Insurance #</th>
            <th scope="col">Group #</th>
            <th scope="col">Payment Type</th>
            <th scope="col">Payment Value</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pateintInsurance of patient.patientInsuranceModels;let i=index;">
            <td>{{i+1}}</td>
            <td>{{pateintInsurance.insuranceNumber}}</td>
            <td>{{pateintInsurance.groupNumber}}</td>
            <td>{{pateintInsurance.paymentType}}</td>
            <td>{{pateintInsurance.paymentValue}}</td>
            <td>
                <c-button-group aria-label="First group" class="me-2" role="group">
                    <button cButton color="primary" variant="outline" size="sm" (click)="remove(i)">
                        <svg cIcon name="cilTrash"></svg>
                    </button>
                </c-button-group>
            </td>
        </tr>
    </tbody>
</table>