<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Patient Creation</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>

    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Essential information</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-basic-info  #basicInfoComponent [patient]="patient"></app-patient-basic-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>

    <div class="d-grid gap-2 col-2 mx-auto mb-5">
        <button cButton color="primary" variant="outline" type="button" (click)="create()">Create</button>
    </div>
</c-container>