<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Patient Creation</h1>
    </c-col>
</c-row>
<hr />
<div class="row alert alert-danger" *ngIf="!valid" role="alert">
    <span *ngIf="basicInvalidFields.length > 0">
        <strong>Basic Inforamtion Messing Fields</strong>
        <br>
        <ul>
            <li *ngFor="let invalidField of basicInvalidFields; let i = index">
                {{invalidField }}
            </li>
        </ul>
    </span>

    <span *ngIf="idInvalidFields.length > 0">
        <strong>Identification Inforamtion Messing Fields</strong>
        <br>
        <ul>
            <li *ngFor="let invalidField of idInvalidFields; let i = index">
                {{invalidField }}
            </li>
        </ul>
    </span>

    <span *ngIf="addressInvalidFields.length > 0">
        <strong>Address Inforamtion Messing Fields</strong>
        <br>
        <ul>
            <li *ngFor="let invalidField of addressInvalidFields; let i = index">
                {{invalidField }}
            </li>
        </ul>
    </span>

    <span *ngIf="contactInvalidFields.length > 0">
        <strong>Contact Inforamtion Messing Fields</strong>
        <br>
        <ul>
            <li *ngFor="let invalidField of contactInvalidFields; let i = index">
                {{invalidField }}
            </li>
        </ul>
    </span>

    <span *ngIf="insuranceInvalidFields.length > 0">
        <strong>Insurance Inforamtion Messing Fields</strong>
        <br>
        <ul>
            <li *ngFor="let invalidField of insuranceInvalidFields; let i = index">
                {{invalidField }}
            </li>
        </ul>
    </span>

    <span *ngIf="caseInvalidFields.length > 0">
        <strong>Case Inforamtion Messing Fields</strong>
        <br>
        <ul>
            <li *ngFor="let invalidField of caseInvalidFields; let i = index">
                {{invalidField }}
            </li>
        </ul>
    </span>

</div>
<c-container fluid>
    <!--Pateint Basic Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Essential information</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-basic-info #component [patient]="patient"></app-patient-basic-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Identification Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Identification Information</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-id-info #component [patient]="patient"></app-patient-id-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Address Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Address Information</h3>
                </c-card-header>
                <c-card-body>
                    <app-address #component [addresses]="patient.addresses"></app-address>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Contact Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Contact Information</h3>
                </c-card-header>
                <c-card-body>
                    <app-contact #component [contacts]="patient.contacts"></app-contact>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint emergency Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Emergency Information</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-emergency-info [patient]="patient"></app-patient-emergency-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Insurance Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Insurance Information</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-insurance-info #component [patient]="patient"></app-patient-insurance-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Clinics Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Clinics</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-clinic-info [patient]="patient"></app-patient-clinic-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Case Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Case Information</h3>
                </c-card-header>
                <c-card-body>
                    <app-patient-case-info #component [pateint]="patient"></app-patient-case-info>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Create Patient Button-->
    <div class="d-grid gap-2 col-2 mx-auto mb-5">
        <button cButton color="primary" variant="outline" type="button" (click)="create()">Create</button>
    </div>
</c-container>