<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Patient Chart</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>
    <!--Pateint Basic Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Patient information {{patientChartInfo.address}}</h3>
                    <c-card cBorder="primary" class="mb-2">
                        <c-card-body *ngIf="patientChartInfo">
                            <h5 cCardTitle>
                                <svg cIcon name="cilUser" size="xl"></svg>
                                <small class="fw-bold fs-4"> Name : </small>
                                <small class="fw-normal fs-5">{{patientChartInfo.name}}</small>
                            </h5>
                            <h5 cCardTitle>
                                <svg cIcon name="cilBirthdayCake" size="xl"></svg>
                                <small class="fw-bold fs-4"> Date Of Birth : </small>
                                <small class="fw-normal fs-5">{{patientChartInfo.dateOfBirth}}</small>
                            </h5>
                            <h5 cCardTitle>
                                <svg cIcon name="cilInfinity" size="xl"></svg>
                                <small class="fw-bold fs-4"> Age : </small>
                                <small class="fw-normal fs-5">{{patientChartInfo.age}}</small>
                            </h5>
                            <h5 cCardTitle *ngIf="patientChartInfo.address">
                                <svg cIcon name="cilAddressBook" size="xl"></svg>
                                <small class="fw-bold fs-4"> Addresses : </small>
                                <ul class="list-unstyled">
                                    <ul>
                                        <li *ngFor="let address of patientChartInfo.address; let i = index">
                                            <small class="fw-normal fs-5">{{address}}</small>
                                        </li>
                                    </ul>

                                </ul>
                            </h5>
                        </c-card-body>
                    </c-card>
                    <c-card cBorder="primary" class="mb-2">
                        <c-accordion [alwaysOpen]="false" [flush]="true" class="shadow m-3">
                            <c-accordion-item #item0="cAccordionItem" [visible]="false">
                                <ng-template cTemplateId="accordionHeaderTemplate">
                                    <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                                        <h5> <svg cIcon name="cilArrowCircleRight" size="xl"></svg>
                                            Upcoming Appointment
                                        </h5>
                                    </button>
                                </ng-template>
                                <ng-template cTemplateId="accordionBodyTemplate">
                                    <app-upcoming-appointment></app-upcoming-appointment>
                                </ng-template>
                            </c-accordion-item>
                            <c-accordion-item #item1="cAccordionItem" [visible]="false">
                                <ng-template cTemplateId="accordionHeaderTemplate">
                                    <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
                                        <h5> <svg cIcon name="cilArrowCircleLeft" size="xl"></svg>
                                            Previous Appointment</h5>
                                    </button>
                                </ng-template>
                                <ng-template cTemplateId="accordionBodyTemplate">
                                    <app-previous-appointment></app-previous-appointment>
                                </ng-template>
                            </c-accordion-item>
                        </c-accordion>
                    </c-card>
                </c-card-header>
                <c-card-body>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Case Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Patient Case information</h3>
                </c-card-header>
                <c-card-body>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>