<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Patient Chart</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>
    <!--Pateint Basic Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Patient information</h3>
                    <c-card cBorder="primary" class="mb-2">
                        <c-card-body>
                            <h6 cCardTitle>
                                <strong><svg cIcon name="cilUser"></svg> Name: </strong>
                            </h6>
                            <h6 cCardTitle>
                                <strong><svg cIcon name="cilBirthdayCake"></svg> Date Of Birth: </strong>
                            </h6>
                            <h6 cCardTitle>
                                <strong><svg cIcon name="cilInfinity"></svg> Age:</strong>
                            </h6>
                            <h6 cCardTitle>
                                <strong><svg cIcon name="cilAddressBook"></svg> Address:</strong>
                            </h6>
                        </c-card-body>
                    </c-card>
                    <c-card cBorder="primary" class="mb-2">
                        Upcoming Appointment
                        Previous Appointment
                    </c-card>
                </c-card-header>
                <c-card-body>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!--Pateint Case Component-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h3>Patient Case information</h3>
                </c-card-header>
                <c-card-body>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>