<form cForm #addressForm="ngForm" (ngSubmit)="add()">
    <small *ngIf="addresstype.invalid && (addresstype.dirty || addresstype.touched)" class="form-text text-danger">
        Address Type is required
    </small>
    <c-input-group class="mb-3">
        <select cFormControl cSelect sizing="sm" id="addresstype" name="addresstype" required
            [ngClass]="{'is-invalid': addresstype.invalid && (addresstype.dirty || addresstype.touched)}"
            [(ngModel)]="address.addressType" #addresstype="ngModel">
            <option [ngValue]="null" disabled selected>Select Address Type</option>
            <option *ngFor="let addresstype of addressKeys(addressTypes)" [ngValue]="addresstype">
                {{addressTypes[addresstype]}}
            </option>
        </select>
    </c-input-group>

    <span *ngIf="address.addressType ==='Other'">
        <small *ngIf="other.invalid && (other.dirty || other.touched)" class="form-text text-danger">
            Other Address is required
        </small>
        <c-input-group class="mb-3">
            <input autoComplete="name" cFormControl id="name" name="name" sizing="sm" placeholder="Other Address"
                required [ngClass]="{'is-invalid': other.invalid && (other.dirty || other.touched)}"
                [(ngModel)]="address.other" #other="ngModel" />
        </c-input-group>
    </span>

    <small *ngIf="firstAddress.invalid && (firstAddress.dirty || firstAddress.touched)" class="form-text text-danger">
        FirstAddress is required
    </small>
    <c-input-group class="mb-3">
        <input autoComplete="name" cFormControl id="firstAddress" name="firstAddress" sizing="sm"
            placeholder="First Address" required
            [ngClass]="{'is-invalid': firstAddress.invalid && (firstAddress.dirty || firstAddress.touched)}"
            [(ngModel)]="address.firstAddress" #firstAddress="ngModel" />
    </c-input-group>

    <small *ngIf="secondAddress.invalid && (secondAddress.dirty || secondAddress.touched)"
        class="form-text text-danger">
        SecondAddress is required
    </small>
    <c-input-group class="mb-3">
        <input cFormControl id="secondAddress" name="secondAddress" sizing="sm" placeholder="Second Address"
            [ngClass]="{'is-invalid': secondAddress.invalid && (secondAddress.dirty || secondAddress.touched)}"
            [(ngModel)]="address.secondAddress" #secondAddress="ngModel" />
    </c-input-group>

    <small *ngIf="country.invalid && (country.dirty || country.touched)" class="form-text text-danger">
        Country Address is required
    </small>
    <c-input-group class="mb-3">
        <select cFormControl cSelect sizing="sm" id="country" name="country" required
            [ngClass]="{'is-invalid': country.invalid && (country.dirty || country.touched)}"
            [(ngModel)]="address.country" #country="ngModel">
            <option [ngValue]="null" disabled selected>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.name">
                {{country.name}}
            </option>
        </select>
    </c-input-group>
    <span *ngIf="address.country !== 'United States of America' && (address.country !== null)">
        <small *ngIf="province.invalid && (province.dirty || province.touched)" class="form-text text-danger">
            Province is required
        </small>
        <c-input-group class="mb-3">
            <input cFormControl id="province" name="province" sizing="sm" placeholder="Province" required
                [ngClass]="{'is-invalid': province.invalid && (province.dirty || province.touched)}"
                [(ngModel)]="address.province" #province="ngModel" />
        </c-input-group>
    </span>

    <span *ngIf="address.country == 'United States of America'">
        <small *ngIf="state.invalid && (state.dirty || state.touched)" class="form-text text-danger">
            State is required
        </small>
        <c-input-group class="mb-3">
            <input cFormControl id="state" name="state" sizing="sm" placeholder="State" required
                [ngClass]="{'is-invalid': state.invalid && (state.dirty || state.touched)}" [(ngModel)]="address.state"
                #state="ngModel" />
        </c-input-group>
    </span>
    <small *ngIf="city.invalid && (city.dirty || city.touched)" class="form-text text-danger">
        City is required
    </small>
    <c-input-group class="mb-3">
        <input cFormControl id="state" name="state" sizing="sm" placeholder="City" required
            [ngClass]="{'is-invalid': city.invalid && (city.dirty || city.touched)}" [(ngModel)]="address.city"
            #city="ngModel" />
    </c-input-group>

    <small *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="form-text text-danger">
        ZipCode is required
    </small>
    <c-input-group class="mb-3">
        <input zipcode cFormControl id="zipCode" name="zipCode" sizing="sm" placeholder="Zip-Code" required
            [ngClass]="{'is-invalid': zipCode.invalid && (zipCode.dirty || zipCode.touched)}"
            [(ngModel)]="address.zipCode" #zipCode="ngModel" />
    </c-input-group>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="add()">Add</button>
    </div>
</form>
<table  class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">First</th>
            <th scope="col">Second</th>
            <th scope="col">Country</th>
            <th scope="col">Zip-Code</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let address of addresses;let i=index;">
            <td>{{i+1}}</td>
            <td>{{address.addressType}}</td>
            <td>{{address.firstAddress}}</td>
            <td>{{address.secondAddress}}</td>
            <td>{{address.country}}</td>
            <td>{{address.zipCode}}</td>
            <td>
                <c-button-group aria-label="First group" class="me-2" role="group">
                    <button cButton color="primary" variant="outline" size="sm" (click)="remove(i)">
                        <svg cIcon name="cilTrash"></svg>
                    </button>
                </c-button-group>
            </td>
        </tr>
    </tbody>
</table>