<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Insurance Company Creation</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>
    <form cForm #insuranceCompanyCreateForm="ngForm" (ngSubmit)="create()" (change)="resetError()">
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>
                            Essential information</h3>
                    </c-card-header>
                    <c-card-body>

                        <small *ngIf="name.invalid && (name.dirty || name.touched)" class="form-text text-danger">
                            Insurance Company Name is required
                        </small>
                        <c-input-group class="mb-3">
                            <input autoComplete="name" cFormControl id="name" name="name" sizing="sm"
                                placeholder="Enter Insurance Company Name" required
                                [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                                [(ngModel)]="insuranceCompany.name" #name="ngModel" />
                        </c-input-group>
                        <small *ngIf="type.invalid && (type.dirty || type.touched)" class="form-text text-danger">
                            Insurance Company type is required
                        </small>
                        <c-input-group class="mb-3">
                            <select cFormControl cSelect sizing="sm" id="type" name="type"
                                placeholder="Enter Insurance Company Name" required
                                [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                                [(ngModel)]="insuranceCompany.insuranceType" #type="ngModel">
                                <option [ngValue]="null" disabled selected>Select insurance Company Type</option>
                                <option *ngFor="let type of typeKeys(types)" [ngValue]="type">
                                    {{types[type]}}
                                </option>
                            </select>
                        </c-input-group>
                        <small *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="form-text text-danger">
                            Insurance Company Phone is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">+1</span>
                            <input placeholder="Enter Insurance Company Phone" cFormControl id="phone" name="phone"
                                sizing="sm" required
                                [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched)}"
                                #phone="ngModel" [ngModel]="insuranceCompany.phone| phone"
                                (ngModelChange)="insuranceCompany.phone=$event" maxlength="15" />
                        </c-input-group>
                        <small *ngIf="fax.invalid && (fax.dirty || fax.touched)" class="form-text text-danger">
                            Insurance Company Fax is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">+1</span>
                            <input placeholder="Enter Insurance Company Fax" cFormControl id="fax" name="fax"
                                sizing="sm" required
                                [ngClass]="{'is-invalid': phone.invalid && (fax.dirty || fax.touched)}" #fax="ngModel"
                                [ngModel]="insuranceCompany.fax| phone" (ngModelChange)="insuranceCompany.fax=$event"
                                maxlength="15" />
                        </c-input-group>

                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>Address information</h3>
                    </c-card-header>
                    <c-card-body>
                        <app-address [address]="insuranceCompanyAddress"></app-address>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </form>
</c-container>